header {
  display: block;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 1em;
}

header *, p.lead {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 1.5rem;
  font-weight: 100;
}

header .heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

#btn_main.start > .label-stop,
#btn_main.stop > .label-play,
#btn_main_disabled {
  display: none;
}

#buttons {
  display: none;
}

.main-controls {
  width: 100%;
  display: block;
  margin: 2em auto;
  padding: 0 1em;
  text-align: center !important;
}
.main-controls .visualizer {
  display: block;
  margin-top: 1em;
  max-width: 100%;
}

#result_view_types {
  margin: 0 auto;
}
.result {
  text-align: center;
  border: none;
  margin-bottom: 1em;
}
.result .revert {
  display: none;
  font-size: small;
  text-align: center;
}
.result .revert .btn {
  color: #999;
  cursor: pointer;
}
.result .actions>.action{
  margin-right: 5px;
}

.phrase {
  margin-top: 1rem;
  font-size: 1.25em;
}
.phrase p {
  margin-bottom: 2px;
}
.phrase .text {
  text-align: left;
  font-size: 0.75em;
  color: #808080;
}
.result.type_a .phrase .text,
.phrase .translated {
  font-size: 1.375em;
  text-align: left;
  font-style: italic;
  color: #3f3f3f;
}
.result.type_a .phrase .translated,
.result.type_c .phrase .text {
  display: none;
}
.phrase .detail>a.btn {
  cursor: pointer;
  color: #a9a9a9;
}
.phrase .detail {
  font-style: italic;
  color: #9c9c9c;
  text-align: right;
}
.phrase .detail .info {
  display: none;
  font-size: small;
}

#loading_spinner {
  display: none;
  margin: 1em;
}

i.translated {
  display: block;
}

audio {
  margin: 0 auto;
}

.text-center {
  text-align: center !important;
}

#language_selector {
  text-align: center;
}

.configuration.message {
  display: none;
}

.help>.label {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px !important;
  margin-top: 5px !important;
}
.help>.label>i.icon {
  margin: 0;
}