header {
  display: block;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 1em;
}

header *, p.lead {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 1.5rem;
  font-weight: 100;
}

header .heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

#btn_main.start > .label-stop {
  display: none;
}
#btn_main.stop > .label-play {
  display: none;
}

#buttons {
  display: none;
}

.main-controls {
  width: 100%;
  display: block;
  margin: 2em auto;
  padding: 0 1em;
  text-align: center !important;
}

.main-controls .visualizer {
  display: block;
  margin-top: 1em;
  max-width: 100%;
}

.result {
  text-align: center;
  border: none;
}

.result .fa-headphones {
  color: #007bff;
  margin: 0 5px;
}

.result .fa-trash-alt {
  color: #dc3545;
  margin: 0 5px;
}

.phrase {
  margin-top: 1rem;
  font-size: 1.25em;
}
.phrase p {
  margin-bottom: 2px;
}
.phrase .text {
  text-align: left;
}
.phrase .translated {
  text-align: right;
  font-style: italic;
  color: #3f3f3f;
}
.phrase .detail {
  font-size: 0.75em;
  font-style: italic;
  color: #9c9c9c;
  margin-top: 4px;
  text-align: right;
}

#loading_spinner {
  display: none;
  color: #c3c3c3;
  text-align: center;
  padding: 1em .5em;
}

#loading_spinner.loading {
  display: block;
}

i.translated {
  display: block;
}

audio {
  margin: 0 auto;
}

.text-center {
  text-align: center !important;
}

#language_selector {
  text-align: center;
}

.configuration.message {
  display: none;
}