* {
	box-sizing: border-box;
}

#spchtrs-viewer {
	display: none;
    position: fixed;
    bottom: 0;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    z-index: 999999;
}

#spchtrs-viewer .item {
	opacity: 0.0;
	padding-top: 0.3em;
	margin: 0 auto;
	line-height: 1.25;
	font-size: 16pt;
}

#spchtrs-viewer .item:nth-last-child(1) {
	opacity: 1.0;
}

#spchtrs-viewer .item:nth-last-child(2) {
	opacity: 0.65;
}

#spchtrs-viewer .item:nth-last-child(3) {
	opacity: 0.45;
}

#spchtrs-viewer .item:nth-last-child(4) {
	opacity: 0.2;
}

#spchtrs-viewer .text-bg {
	color: white;
	background: black;
	padding: 0 6px;
}

#spchtrs-viewer .sub-text {
	font-size: 80%;
}

#spchtrs-viewer .sub-text > .text-bg {
	color: rgba(255, 255, 255, .8);
}

#spchtrs-viewer .footer .volumebar {
	display: inline-block;
	margin: 2px auto;
	width: 0%;
	height: 5px;
    background: rgba(128, 128, 128, 0.5);
	border-radius: 1em;
	-webkit-transition: width 0.2s, height 0.2s;
    transition: width 0.2s, height 0.2s;
    opacity: 0.75;
}

#spchtrs-viewer .helper {
    width: 26px;
    height: 26px;
    border-width: 8px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 5px;
    float: left;
    cursor: pointer;
    background: transparent;
}
}