* {
    box-sizing: border-box;
}

#spchtrs-viewer {
    display: none;
    position: fixed;
    bottom: 0;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    z-index: 999999;
}

#spchtrs-viewer .item {
    opacity: 0.0;
    padding-top: 0.3em;
    margin: 0 auto;
    line-height: 1.25;
    font-size: 16pt;
}

#spchtrs-viewer .item:nth-last-child(1) {
    opacity: 1.0;
}

#spchtrs-viewer .item:nth-last-child(2) {
    opacity: 0.65;
}

#spchtrs-viewer .item:nth-last-child(3) {
    opacity: 0.45;
}

#spchtrs-viewer .item:nth-last-child(4) {
    opacity: 0.2;
}

#spchtrs-viewer .text-bg {
    color: white;
    background: black;
    padding: 0 6px;
}

#spchtrs-viewer .sub-text {
    font-size: 80%;
}

#spchtrs-viewer .sub-text > .text-bg {
    color: rgba(255, 255, 255, .8);
}

#spchtrs-viewer .footer .volumebar {
    display: inline-block;
    margin: 2px auto;
    width: 0%;
    height: 5px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 1em;
    -webkit-transition: width 0.2s, height 0.2s;
    transition: width 0.2s, height 0.2s;
    opacity: 0.75;
}

#spchtrs-viewer .helper {
    width: fit-content;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 10px;
    float: left;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}
#spchtrs-viewer .helper:hover, #spchtrs-viewer .helper:focus {
    opacity: 1.0;
}
#spchtrs-viewer .helper.gradient-animation-background {
    background-image: none !important;
}

#spchtrs-threads {
    position: absolute;
    bottom: 2.25rem;
    width: fit-content;
    height: fit-content;
    cursor: grab;
}

#spchtrs-threads:active {
    cursor: grabbing;
}

.spchtrs ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}
.spchtrs ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0,0,0,.25);
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.spchtrs ::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border-radius: 0;
}
.spchtrs.search-form {
    display: inline-block;
    position: relative;
}
.spchtrs.search-form .select-langs {
    width: 130px;
    position: absolute;
    top: -205px;
    max-height: 200px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .12);
}
.spch.lang {
    position: relative;
    cursor: pointer;
    display: block;
    border: none;
    border-top: none;
    background-color: #fff;
    transition: background-color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.spch.lang:hover {
    background-color: #eee;
}
.spch.lang,
.spch.lang-input {
    height: auto;
    text-align: left;
    line-height: 1.75em;
    color: #222;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    text-transform: none;
    font-weight: normal;
    box-shadow: none;
}
.spch.lang-input {
    width: 132px;
    border: 0;
    border-radius: 0.25rem;
    outline: 0;
    background-color: #eee;
    transition: background-color .2s;
}
.spch.lang-input:active {
    background-color: #ddd;
}
.spch.lang-input:active,
.spch.lang-input:focus {
    background-color: #ccc;
}

.gradient-animation-border {
    border-color: #3494f2;
    -webkit-animation: AnimateGradientBorder 10s ease-in-out infinite;
    -moz-animation: AnimateGradientBorder 10s ease-in-out infinite;
    animation: AnimateGradientBorder 10s ease-in-out infinite;
}

.gradient-animation-background {
    background-color: #3494f2;
    -webkit-animation: AnimateGradientBackground 5s ease-in-out infinite;
    -moz-animation: AnimateGradientBackground 5s ease-in-out infinite;
    animation: AnimateGradientBackground 5s ease-in-out infinite;
}

@-webkit-keyframes AnimateGradientBorder {
    0%{border-color: #3494f2}
    25%{border-color: #41bf88}
    50%{border-color: #d6ee52}
    75%{border-color: #f06d6d}
    100%{border-color: #3494f2}
}
@-moz-keyframes AnimateGradientBorder {
    0%{border-color: #3494f2}
    25%{border-color: #41bf88}
    50%{border-color: #d6ee52}
    75%{border-color: #f06d6d}
    100%{border-color: #3494f2}
}
@keyframes AnimateGradientBorder {
    0%{border-color: #3494f2}
    25%{border-color: #41bf88}
    50%{border-color: #d6ee52}
    75%{border-color: #f06d6d}
    100%{border-color: #3494f2}
}

@-webkit-keyframes AnimateGradientBackground {
    0%{background-color: #3494f2}
    25%{background-color: #41bf88}
    50%{background-color: #d6ee52}
    75%{background-color: #f06d6d}
    100%{background-color: #3494f2}
}
@-moz-keyframes AnimateGradientBackground {
    0%{background-color: #3494f2}
    25%{background-color: #41bf88}
    50%{background-color: #d6ee52}
    75%{background-color: #f06d6d}
    100%{background-color: #3494f2}
}
@keyframes AnimateGradientBackground {
    0%{background-color: #3494f2}
    25%{background-color: #41bf88}
    50%{background-color: #d6ee52}
    75%{background-color: #f06d6d}
    100%{background-color: #3494f2}
}