{
  "presets":  [
    ["@babel/preset-env",{
      "targets": "chrome 55"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "dynamic-import-node"
  ],
  "ignore": ["js/jquery-3.3.1.min.js", "js/build/*"],
  "env": {
    "production": {
      "comments": false,
      "presets": [
        ["minify", {
          "builtIns": false,
          "evaluate": false,
          "mangle": false
        }]
      ],
      "plugins": [
        ["transform-remove-console", {
          "exclude": [ "error", "warn"]
        }]
      ]
    }
  }
}
