/* global chrome */
{
  "extends": ["eslint:recommended", "google", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "semi": ["error", "always"],
    "linebreak-style": ["error", "windows"],
    "require-jsdoc": 0
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "webextensions": true
  }
}
