/* global chrome */
{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "chrome": true,
    "es6": true,
    "webextensions": true
  }
}
